.headerToolbar{
--background: var(--ion-color-header);
--border-width:0px;
--padding-top:0px;
--padding-bottom:3px;
--padding-start:0px;
--padding-end:0px;
}
ion-content{
--background: var(--ion-color-header);
}
ion-item{
   --ion-background-color:var(--ion-color-header);
   --inner-padding-start:0px;
}
ion-button{
	--background:var(--ion-color-searchButton);
	--color:var(--ion-color-wight);
   --border-radius: 25px;
	height: 40px;
    width: 60px;
    margin-top: 4px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 2px;
}
ion-button:hover{
	--background:var(--ion-color-searchButton);
	--color:var(--ion-color-wight);
    --border-radius: 25px;
    height: 40px;
    width: 60px;
    margin-top: 4px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 2px;
}
.button{border-radius:30px}
.ios ion-title {
   position: inherit;
   width:100%
}
ion-input{
	--background:var(--ion-color-search);
	border-radius:20px;
	padding-right:10px !important;
	color:#FFFFFF;
	--placeholder-color:var(--ion-color-wight);
	--placeholder-opacity:1;
}
.contentDiv{
	width:100%;
	height:100%;
	background-color:#000000;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
}
.smallImage{
	border-radius:100%;
	width:15%;
	position:absolute;
	left:7px;
	top:7px;
	height:35%;
}
.smallSkeletonImage{
	border-radius:100%;
	width:15%;
	position:absolute;
	left:7px;
	top:7px;
	height:35%
}
.largImage{
	border-top-left-radius:20px;
	border-top-right-radius:20px;
}
.storeName{
	position: absolute;
    bottom: 20px;
    color: #ffffff;
	font-size:18px;
	padding-right:10px
}
.storeSkeletonName{
	position: absolute;
    bottom: 25px;
    color: #ffffff;
	font-size:18px;
	margin-right:10px;
	width:40%;
	height:15px
}
.storeIcones{
	position: absolute;
    bottom: 15px;
    color: #ffffff;
	font-size:20px;
	padding-right:20px;
	left:7px;
}
.hardFavIcon{
    font-size: 20px;
    padding: 6px;
    background-color: #51638c;
    border-radius: 100%;
}
.hardNotFavIcon{
    font-size: 20px;
    padding: 6px;
    background-color: #aba9aa;
    border-radius: 100%;
	margin-left:5px
}
.locationIcon{
    font-size: 20px;
    padding: 6px;
    background-color: #aba9aa;
    border-radius: 100%;
	margin-left:5px
}
.callIcon{
    font-size: 20px;
    padding: 6px;
    background-color: #aba9aa;
    border-radius: 100%;
	margin-left:5px
}
.numFavIcon{
    font-size: 20px;
	padding-top:9px
}
.countOfFav{
    vertical-align: super;
    font-size: 14px;
}
.filterIcon{
	font-size:28px;
	color:#aba9aa;
	padding-right:5px;
	padding-left: 10px;
}
.buttonFilterBorder{
	position:fixed;
	top:0px;
	border-right:2px solid #aba9aa;
	margin:auto;
	height:37px; 
	border-width: thin;
}
.subContentDiv{
	width:100%;
	height:100%;
	overflow-y:auto;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
}
.textjustify{
	text-align:justify;
	font-size:14px;
	color:var(--ion-color-formPlaseHolderColor);
	line-height:25px;
}
.gridDepartInformation{
	background-color: #c1c0c785;
	padding-bottom: 0px;
}
.gridInformation{
	background-color: var(--ion-color-footer);
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
}
ion-segment-button{
	--color-checked:var(--ion-color-searchButton);
	--color:#a2a1a1;
	max-width:inherit;
	--background:var(--ion-color-footer);
	--background-checked:var(--ion-color-footer);
}
/*menu style*/
ion-icon {
  font-size: 20px;
}
ion-footer{
	background: var(--ion-background-color);
}
.footerToolbar{
--background: var(--ion-color-footer);
--border-width:0px;
--padding-top:7px;
--padding-bottom:0px;
--padding-start:0px;
--padding-end:0px;
 border-top-left-radius:25px; 
 border-top-right-radius:25px
}
.menueClass{
	color:var(--ion-color-menueColor);
	width:25%;
	float:right;
	text-align:center;
	padding-bottom:5px;
	cursor:pointer;
}
.menueClassActive{
	border-bottom:3px solid
}
.labelClass{
	margin-top:-5px;
	font-size:13px !important;
	padding-bottom:3px;
}
/*menu style*/
.bagIcon{
	font-size:25px;
	padding-right:15px;
	padding-left:10px
}
/*offersInformation*/
.textInformation{
	font-size:14px;
	color:var(--ion-color-searchButton);
	padding:0px;
}
.textDepartInformation{
	font-size:15px;
	color:var(--ion-color-searchButton);
	padding:0px;
	font-weight:bold;
	padding-right:10px
}
.textNameInformation{
	font-size:14px;
	color:var(--ion-color-searchButton);
	padding:0px;
	font-weight:bold;
	padding-right:10px
}
.offerTime{
	font-size:13px;
	color:#aba9aa;
	padding:0px;
	vertical-align:top;
	top: 1px;
    position: relative;
}
.offerSkeletonTime{
	height:15px;
	width: 80px;
	float:left
}
.offersImage{
	width:100%;
	height:auto; 
	margin:auto;
	display:flex;
}
.offersContent{
	position: absolute;
	font-size:5vw;
	color:#ffffff;
	top:5%;
	text-align: center;
	width: 100%;
}
.offersDiv{
	position: relative
}
/*offersInformation*/
/*productInformation*/
.textProductInformation{
	font-size:13px;
	color:var(--ion-color-searchButton);
	padding:0px;
	font-weight:bold;
	padding-right:10px
}
.slidesData{
	width:auto;
	height:auto;
	margin-left:5px;
	margin-right:5px
}
.textSlider{
	padding-right: 22px;
    padding-bottom: 9px;
	padding-left: 22px;
	padding-top: 4px;
    border: 2px solid;
    border-radius: 20px;
    font-size: 14px;
    color: #51638c;
}
.textSkeletonSlider{
	height:25px;
	width: 80px;
	border-radius:10px
}
.productName{
	font-size: 17px;
    color: var(--ion-color-searchButton);
    font-weight: bold;
    padding-right: 5px;
	padding-top:10px
}
.productCatName{
	font-size: 12px;
    color: var(--ion-color-searchButton);
    font-weight: bold;
    padding-right: 5px;
	padding-top:2px
}
.productSkeletonCat{
	width: 35%;
    height: 15px;
    margin-right: 153px;
}

.productSkeletonName{
	width: 35%;
    height: 15px;
    margin-right: 153px;
}
.productSkeletonInformation{
	width: 75%;
    height: 80px;
    margin-right: 153px;
}
.productSkeletonPrice{
	width: 35%;
    height: 15px;
}
.productSkeletonIcons{
	width: 35%;
    height: 15px;
	float:left
}
.productInformation{
	font-size:13px;
    color: #aba9aa;
    padding-right: 5px;
	padding-left:5px;
	padding-top: 0px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-height: 16px;
    -webkit-box-orient: vertical;
	 text-overflow: ellipsis;
	 overflow:hidden		
}
.productBox{
	border: 1px solid;
	color: #dfdee2;
	margin-right: 5px;
	margin-left: 5px;
	border-radius: 5px;
	height:auto;
	min-height: 170px;
}
.productSubBox{
	min-height: 150px;
	height: auto;
}
.productImageDiv{
	float:right;
	padding-left:12px;
}
.productImage{
	border-radius:15px;
	margin-right:12px;
	width:135px;
	height:135px;
	margin-top:7px;
}
.productSkeletonImage{
	margin-right:12px;
	width:135px;
	height:135px;
}
.productIcones{
	font-size:22px;
	padding-right:5px;
	padding-left:0px
}
.newPrice {
	float: right;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    color:#ffffff;
    background-color: var(--ion-color-searchButton);
	margin-right: 5px;
}
.oldPrice {
    position: relative;
    display: inline-block;
	float: right;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    color:#ffffff;
    background-color: #aba9aa;
}
.oldPrice::before {
    content: '';
    border-bottom: 2px solid #ffffff;
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
}
.typeMony{
    float: right;
    padding-right: 5px;
    padding-top: 2px;
}
.offerProductImage{
	float: left;
    padding-left: 28px;
    margin: auto;
    position: relative;
    bottom: 3px;
}
/*productInformation*/
/*branchesInformation*/
.branchesBox{
	border: 1px solid;
	color: #dfdee2;
	margin-right: 5px;
	margin-left: 5px;
	border-radius: 5px;
	height:auto
	;min-height: 170px;
}
.branchesSubBox{
	min-height: 150px;
	height: auto;
}
.branchesImageDiv{
	float:right;
	padding-left:12px;
}
.branchesImage{
	border-radius:15px;
	margin-right:12px;
	width:135px;
	height:135px;
	margin-top:7px;
}
.branchesName{
	font-size: 17px;
    color: var(--ion-color-searchButton);
    font-weight: bold;
    padding-right: 5px;
	padding-top:10px
}
.branchesInformation{
	font-size:13px;
    color: #aba9aa;
    padding-right: 5px;
	padding-left:5px;
	padding-top: 0px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-height: 16px;
    -webkit-box-orient: vertical;
	 text-overflow: ellipsis;
	 overflow:hidden	
}
.textBranchesInformation{
	font-size:13px;
	color:var(--ion-color-searchButton);
	padding:0px;
	font-weight:bold;
	padding-right:10px
}
.location{
    padding-right: 5px;
    padding-top: 5px;
}
.branchesIcones{
    color: #ffffff;
	font-size:18px;
}
.gridBranchesInformation{
	padding:0px;
}
.locationBranchesIcon{
    font-size: 16px;
    padding: 6px;
    background-color: #aba9aa;
    border-radius: 100%;
	margin-left:5px
}
.callBranchesIcon{
    font-size: 16px;
    padding: 6px;
    background-color: #aba9aa;
    border-radius: 100%;
	margin-left:5px
}
.branchesSkeletonName{
	width: 35%;
    height: 15px;
    margin-right: 153px;
}
.branchesSkeletonInformation{
	width: 75%;
    height: 80px;
    margin-right: 153px;
}
.branchesSkeletonPrice{
	width: 35%;
    height: 15px;
}
.branchesSkeletonIcons{
	width: 35%;
    height: 15px;
	float:left
}
.branchesSkeletonImage{
	margin-right:12px;
	width:135px;
	height:135px;
}
/*branchesInformation*/
.divEmptyVal{
    text-align: center;
    padding-top: 40px;
}
.emptyFirstText{
    font-size: 13px;
    color:var(--ion-color-searchButton);
    padding-bottom: 5px;
}
.emptyLastText{
    font-size: 15px;
    color:var(--ion-color-searchButton);
}


