ion-content{
	direction:rtl;
	 --background: transparent;
	  --overflow:hidden;
}
ion-icon {
  font-size: 30px;
  color:#ffffff
}
.contentDiv{
	width: 100%;
    position: absolute;
    top: 25%;
	padding: 10px;
}
.subContentDiv{
	width:100%;
	overflow-y:auto;
	border-radius:10px
}
ion-list{
	background-color:#f1f1f1
}
ion-item{
	--background:#dadbdc;
}
.lastItem{
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    --border-width: 0px !important;
    --min-height: 10px;
}
ion-label{
    margin: 0px;
    margin-bottom: 3px;
    font-size: 14px !important;
    font-weight: bold;
    color: var(--ion-color-menueColor) !important;
	padding-right:5px
}
.oneButton{
	--background: linear-gradient(-90deg, #f3df02, #f0c000) !important;
	--color:var(--ion-color-primary-contrast) !important;
	--border-radius: 30px;
	--padding:0px;
	height:40px;
	min-width:85px;
	width:20%;
}
.oneButton.activated{
	--background:var(--ion-color-header);
	padding:0px;
}
.divButtonClass{
	text-align:center;
	padding-top:10px;
	padding-bottom:15px;
}
.imageRate{
	width:30px; 
	height:31px;
	max-width:33px;
	margin-Left: 0px;
}
.imageRateOne{
	width:30px; 
	height:31px;
	max-width:33px;
	margin-Left: 0px;
}	
.imageRateFore{
	width:30px; 
	height:31px;
	max-width:33px;
	margin-Left: 0px;
}	
.backGroundBox{
	background-color:#dadbdc
}
.boxTitle{
	text-align: center;
	padding-top: 7px;
	font-size: 15px;
	color: #080404;
}
.boxSubTitle{
	text-align: center;
	padding-top: 7px;
	font-size: 13px;
	color: #080404;
}
.titleRate{
	float: right;
    width: 90px;
    position: relative;
    top: 5px;
    padding-right: 5px;
	font-size: 14px;
}
.divButtonColor{
	background-color:#dadbdc;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	height:60px;
}
.starClass{
	text-align:start; 
	margin-left:5px; 
	margin-right:5px;
}
.star{
	right:0px; 
	width:100%; 
	height:34px
}
.starcover{
    display: flex;
    float: right;
    margin-top: 10px;	
}
.starBack{
	direction:ltr; 
	right:0px
}
