<ion-header class="ion-no-border">
  <ion-toolbar class="headerToolbar">
    <ion-title class="te"><ion-img src="../../assets/imgs/logoTitle.png" class="width50"></ion-img> </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 <div class="contentDiv">
 	<div class="subContentDiv">
     	<div class="divTitle">حول التطبيق</div>
        <div class="textjustify" *ngIf ="isThere == 1">{{description}}</div>
        <div class="loadingData" *ngIf ="loadingShow == 1">
            <img src="../../assets/imgs/loading.gif" class="imageLoading"><span>يرجى الانتظار ...</span>
        </div>
        <div class="contentDivError" *ngIf ="isThere == 0">
            <div>
                <img src="../../assets/imgs/errorData.png">
            </div>
            <div class="firstFont">
                يوجد مشكلة في عرض البيانات
            </div>
            <div class="lastFont">
                لم يتم إضافة اي بيانات على هذه الشاشة حاليا
            </div>
         </div>    
    </div>
 </div>
</ion-content>
<ion-footer class="ion-no-border">
<ion-toolbar class="footerToolbar">
	<div class="width100">
        <div class="menueClass" (click)="functionGoToHome()">
        	<div><ion-icon name="home" slot="start"></ion-icon></div>
            <div class="labelClass">الرئيسية</div>
        </div>
         <div class="menueClass" (click)="functionGoToStores()">
        	<div><ion-icon name="storefront" slot="start"></ion-icon></div>
            <div class="labelClass">المتاجر</div>
        </div>
         <div class="menueClass" (click)="functionAllProducts()">
        	<div><ion-icon name="storefront" slot="start"></ion-icon></div>
            <div class="labelClass">المنتجات</div>
        </div>
        
        <div class="menueClass" (click)="functionOpenMenue()">
        	<div><ion-icon name="list" slot="start"></ion-icon></div>
            <div class="labelClass">قائمتي</div>
        </div>
    </div>
</ion-toolbar>
</ion-footer>