.headerToolbar{
	--background: var(--ion-color-header);
}
/*title style*/
.divTitle{
	text-align:center;
	padding-bottom:15px;
	padding-top:15px;
	font-size:19px;
	font-weight:bold;
	color: var(--ion-color-header);
}
/*pageContent*/
ion-content{
	--background: var(--ion-color-header);
	--padding-end:10px;
	--padding-start:10px;
	--padding-bottom:10px
}
.contentDiv{
	width:100%;
	background-color:#000000;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	padding-right:10px;
	padding-left:10px;
	height:100%;
	overflow:hidden;
}
.subContentDiv{
	width:100%;
	height:100%;
	overflow-y:auto
}
.textjustify{
	text-align:justify;
	font-size:14px;
	color:var(--ion-color-formPlaseHolderColor);
	line-height:25px;
	padding-bottom:10px;
}
.loadingData{
	text-align:center;
	font-size:13px;
	--ion-background-color:var(--ion-color-wight);
	color: var(--ion-color-header);
	padding-bottom:10px;
	position: sticky;
    top: 50%;
}
.imageLoading{
	width:40px;
	height:40px;
	vertical-align:middle;
}
.firstFont{
	font-size:14px;
	color:var(--ion-color-header);
}
.lastFont{
	font-size:12px;
	color:var(--ion-color-header);
	padding-top:5px;
}
.contentDivError{
	position: fixed;
    top: 30%;
    width: 90%;
    text-align: center;
}
/*menu style*/
ion-icon {
  font-size: 20px;
}
ion-footer{
	background: var(--ion-background-color);
}
.footerToolbar{
--background: var(--ion-color-footer);
--border-width:0px;
--padding-top:7px;
--padding-bottom:0px;
--padding-start:0px;
--padding-end:0px;
 border-top-left-radius:25px; 
 border-top-right-radius:25px
}
.menueClass{
	color:var(--ion-color-menueColor);
	width:25%;
	float:right;
	text-align:center;
	padding-bottom:5px;
	cursor:pointer;
}
.menueClassActive{
	border-bottom:3px solid
}
.labelClass{
	margin-top:-5px;
	font-size:13px !important;
	padding-bottom:3px;
}
/*menu style*/