<ion-header class="ion-no-border">
  <ion-toolbar class="headerToolbar">
    <ion-title><img src="../../assets/imgs/def4.png" style="width:40px;border-radius:50px"></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 <div class="contentDiv">
 	<div class="subContentDiv">
        <div class="divTitle">مرحبا بك مرة اخرى</div>
        <div class="divSubTitle">إدخل الى حسابك الان</div>
        <form style="display: contents;" (ngSubmit)="checkUser()">
            <div class="paddingBottom">
                <ion-item lines="none" class="{{errorNumber}}">
                    <ion-input type="number" [(ngModel)]="number" [ngModelOptions]="{standalone: true}" placeholder="رقم الجوال" (ionInput)="checkNumber($event.target.value)"></ion-input><span class="class962">+962</span>
                </ion-item>
                <div class="errorTitle" *ngIf="isErrorNumber == 0">الرجاء إدخال رقم الجوال</div>
            </div> 
            <div class="paddingBottom">
                <ion-item lines="none" class="{{errorPassword}}">
                    <ion-input [type]="showPassword ? 'text' : 'password'" [ngModelOptions]="{standalone: true}" [(ngModel)]="password" placeholder="كلمة المرور" (ionInput)="checkPassword($event.target.value)"></ion-input><ion-icon [name]="showPassword ? 'eye' : 'eye-off'" class="eye" (click)="changeInputType()"></ion-icon>
                </ion-item>
                <div class="errorTitle" *ngIf="isErrorPassword == 0">الرجاء إدخال كلمة المرور</div>
            </div>
            
            <div class="paddingBottom paddingTop3">
                <div class="forgetPassword" (click)="forgotPasssword()">نسيت كلمة المرور</div>
            </div>
            <div>
              <div class="divButtonClass">
                <ion-button class="oneButton fontSize15" id="submit" (click)="checkUser()" disabled="{{!isdisabled}}"><span class="paddingBottom5">دخول</span></ion-button>
              </div>
            </div>
            <button style="visibility:hidden" id="submit" ion-button type="submit" ></button>
        </form>
        <div class="loadingData" *ngIf ="loadingShow == 1">
            <img src="../../assets/imgs/loading.gif" class="imageLoading"><span>يرجى الانتظار ...</span>
        </div>
        <div style="padding-top:10px; text-align:center; font-size:14px;color:#a7a7a7">
        أو سجل الدخول من خلال
        </div>
        <div>
          <div class="divButtonClassIcon">
            <ion-icon name="logo-facebook" class="iconClassFaceBook" (click)="facebookLogin()"></ion-icon>
            <ion-icon name="logo-google" class="iconClassGoogle" (click)="googlePluseLogin()"></ion-icon>
            <ion-icon name="logo-apple" class="iconClassAppel" (click)="appleLogin()" *ngIf="showLoginWithApple == 1"></ion-icon>
          </div>
        </div>
    </div>
 </div>
</ion-content>
<ion-footer class="ion-no-border">
<ion-toolbar class="footerToolbar">
	<div class="width100">
        <div class="menueClass" (click)="functionGoToHome()">
        	<div><ion-icon name="home" slot="start"></ion-icon></div>
            <div class="labelClass">الرئيسية</div>
        </div>
           <div class="menueClass" (click)="functionGoToStores()">
        	<div><ion-icon name="storefront" slot="start"></ion-icon></div>
            <div class="labelClass">المتاجر</div>
        </div>
         <div class="menueClass" (click)="functionAllProducts()">
        	<div><ion-icon name="storefront" slot="start"></ion-icon></div>
            <div class="labelClass">المنتجات</div>
        </div>
        
        <div class="menueClass" (click)="functionOpenMenue()">
        	<div><ion-icon name="list" slot="start"></ion-icon></div>
            <div class="labelClass">قائمتي</div>
        </div>
    </div>
</ion-toolbar>
</ion-footer>