.headerToolbar{
--background: var(--ion-color-header);
--border-width:0px;
--padding-top:0px;
--padding-bottom:3px;
--padding-start:0px;
--padding-end:0px;
}
ion-content{
--background: #ffffff;
}
ion-item{
   --ion-background-color:var(--ion-color-header);
   --inner-padding-start:0px;
}
ion-button.button{
	--background:var(--ion-color-searchButton);
	--color:var(--ion-color-wight);
   --border-radius: 25px;
	height: 40px;
    width: 60px;
    margin-top: 4px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 2px;
}
ion-button.button:hover{
	--background:var(--ion-color-searchButton);
	--color:var(--ion-color-wight);
    --border-radius: 25px;
    height: 40px;
    width: 60px;
    margin-top: 4px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 2px;
}
.button{border-radius:30px}
.ios ion-title {
   position: inherit;
   width:100%
}
ion-input{
	--background:var(--ion-color-search);
	border-radius:20px;
	padding-right:10px !important;
	color:#FFFFFF;
	--placeholder-color:var(--ion-color-wight);
	--placeholder-opacity:1;
}
.gridDepartInformation{
	background-color: var(--ion-color-footer);
    padding-bottom: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.largDiveSortAndFilter{
   position: sticky;
   top: 0;
   background-color: #f3df02;
   z-index: 10000;
}
.gridDepartInformation{
	background-color: var(--ion-color-footer);
    padding-bottom: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.textDepartInformation{
	font-size:13px;
	color:var(--ion-color-searchButton);
	padding:0px;
	font-weight:bold;
	padding-right:5px
}
.textFilterInformation{
	font-size:13px;
	color:#aba9aa;
	padding:0px;
	padding-right:10px
}
.buttonFilterBorder{
	position:fixed;
	top:97px;
	border-right:2px solid #aba9aa;
	margin:auto;
	height:37px; 
	border-width: thin;
}
.filterIconNew{
	font-size:28px;
	color:#aba9aa;
	padding-right:20%;
	padding-left: 2px;
}
.moreIcon{
	font-size:20px;
	color:#aba9aa;
}
.filterNotLight{
	color:#aba9aa;
	vertical-align:top
}
.gridStoresInformation{
	padding:0px;
}
.storesSkeletonGrid{
	width: 100%;
    height: 15px;
}
.productStoreName{
	font-size: 15px;
    color: var(--ion-color-searchButton);
    font-weight: bold;
    padding-right: 25px;
	padding-top:5px
}
.productStorePrice{
	font-size: 12px;
    color: var(--ion-color-searchButton);
    font-weight: bold;
    padding-right: 25px;
	padding-top:5px
}
.orderStatus{
	font-size: 12px;
    color: var(--ion-color-searchButton);
    font-weight: bold;
    padding-right: 25px;
	padding-top:5px
}
.productOrderNumberAndDate{
	font-size: 12px;
    color: var(--ion-color-searchButton);
    padding-right: 25px;
	padding-top:5px
}
.cartBox{
	border: 1px solid;
	color: #dfdee2;
	margin-right: 5px;
	margin-left: 5px;
	border-radius: 5px;
	height:auto;
	min-height: 170px;
}
.cartSubBox{
	min-height: 150px;
	height: auto;
}
.cartImageDiv{
	float:right;
	padding-left:12px;
}
.cartImage{
	border-radius:15px;
	margin-right:12px;
	width:100px;
	height:100px;
	margin-top:7px;
}
.cartProductName{
	font-size: 15px;
    color: var(--ion-color-searchButton);
    font-weight: bold;
    padding-right: 5px;
	padding-top:10px
}
.cartProductLabel{
	font-size:13px;
	padding-top:5px;
	color:#818181;
	text-align: right;
    padding-right: 13px;
	height: 25px;
}
.cartProductSubCatLabel{
	font-size:13px;
	padding-top:5px;
	color:#818181;
	text-align: right;
    padding-right: 5px;
	height: 25px;
}
.productInformation{
	font-size:13px;
	color: #aba9aa;
	padding-right: 5px;
	padding-left:5px;
	padding-top: 5px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-height: 14px;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow:hidden	
}
.productSkeletonName{
	width: 150px;
    height: 15px;
    margin-right: 125px;
}
.productSkeletonButton{
	width: 250px;
    height: 15px;
    margin-right: 125px;
}
.productStoreSkeletonName{
	width: 150px;
    height: 15px;
    margin-right: 10px;
}
.productSkeletonInformation{
	width: 50%;
    height: 10px;
    margin-right: 0px;
}
.oneButton{
	--background: linear-gradient(-90deg, #f3df02, #f0c000) !important;
	--color:var(--ion-color-primary-contrast) !important;
	--border-radius: 30px;
	--padding:0px;
	height:50px;
	min-width: 75px;
	width:30%;
}
.oneButton.activated{
	--background:var(--ion-color-header);
	padding:0px;
}
.divButtonClass{
	padding-top:5px;
	padding-bottom:5px;
}
/*menu style*/
ion-icon {
  font-size: 20px;
}
ion-footer{
	background: var(--ion-background-color);
}
.footerToolbar{
--background: var(--ion-color-footer);
--border-width:0px;
--padding-top:7px;
--padding-bottom:0px;
--padding-start:0px;
--padding-end:0px;
 border-top-left-radius:25px; 
 border-top-right-radius:25px
}
.menueClass{
	color:var(--ion-color-menueColor);
	width:25%;
	float:right;
	text-align:center;
	padding-bottom:5px;
	cursor:pointer;
}
.menueClassActive{
	border-bottom:3px solid
}
.labelClass{
	margin-top:-5px;
	font-size:13px !important;
	padding-bottom:3px;
}
/*menu style*/
