<ion-header class="ion-no-border">
  <ion-toolbar class="headerToolbar">
    <ion-title><img src="../../assets/imgs/def4.png" style="width:40px;border-radius:50px"></ion-title>
   
  </ion-toolbar>
</ion-header>
<ion-content>
 <div class="contentDiv">
 <div class="subContentDiv">
 <!--catHom-->
 <!--bannars-->
  <div style="padding-bottom:10px;padding-top:10px; text-align:center; color:#f0c000; font-size:20px">Tara Mall</div>
      <div *ngIf="banners==1 && !bannersHomeSkeleton" style="padding-bottom:10px">
        <ion-slides pager="true" autoPlay="true" loop="true" (ionSlidesDidLoad)="slidesBannersLoad()" (ionSlideDidChange)="slidesBannersLoad()"  #slidesBanners>
            <ion-slide *ngFor="let items of returnBannersHomeArray" >
               <div><ion-img src={{items.image}} class="bannersHomeImage"></ion-img> </div>
            </ion-slide>
        </ion-slides>
    </div>
    <div *ngIf="banners==1 && bannersHomeSkeleton" style="padding-bottom:10px">
        <div><ion-img src="../../assets/imgs/loader2.gif" class="bannersHomeImageSkeleton"></ion-img> </div>
    </div>
    <!--bannars-->
 	<div *ngIf="categoriesHome==1 && !categoriesHomeSkeleton" style="padding:10px">
        <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
            <ion-slide #slidesCatHome *ngFor="let items of returnCategoriesHomeArray" class="catHomeSlides">
                <ion-card class="catHomeCard" (click)="functionStoresByHomeCat(items.id)">
                	<div>
                        <div class="catHomeDiv"><img src="{{items.image}}" class="catHomeImage"></div>
                        <div class="catHomeLabel">{{items.title}}</div>
                    </div>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </div>
	<div *ngIf="categoriesHome==1 && categoriesHomeSkeleton" style="padding:10px">
        <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
            <ion-slide #slidesCatHome *ngFor="let items of returnCategoriesHomeArray" class="catHomeSlides">
                <ion-card class="catHomeCard">
                    <div>
                        <div class="catHomeDiv"><ion-skeleton-text animated class="catHomeImage"></ion-skeleton-text></div>
                        <div class="catHomeLabel"><ion-skeleton-text animated class="skeletonTextHomeLabel textAlignCenter"></ion-skeleton-text></div>
                    </div>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </div>
    <!--catHom-->
     
    <!--spechal-->
    <div *ngIf="storesHome==1 && !storesHomeSkeleton" style="padding-right:10px;padding-left:10px">
        <div>
            <ion-grid>
            <ion-row>
                <ion-col class="textAlignStart">
                    <div class="catHomeTitleLabel">المتاجر</div>
                </ion-col>
                <ion-col class="textAlignEnd">
                    <div class="catHomeMoreLabel" (click)="functionAllStores()">شاهد المزيد</div>
                </ion-col>
            </ion-row>
            </ion-grid>
        </div>
        <ion-slides #slidesStoresHome [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
            <ion-slide *ngFor="let items of returnStoresHomeArray" class="storesHomeSlides">
                <ion-card class="storesHomeCard" (click)="functionStoreInformation(items.id)">
                <div *ngIf="items.closeStore==1"><img src="../../assets/imgs/lock.png" class="lockImage"></div>
                    <div>
                        <div style="margin-left:65px"><img src="{{items.image}}" class="specialHeaderImage"></div>
                        <div ><img src="{{items.storeImage}}" class="specialContentImage"></div>
                        <div class="textHomeName">{{items.title}}</div>
                        <div class="textHomeLabel">{{items.categorie}}</div>
                        <div class="textHomeLabel">{{items.subCategories}}</div>
                    </div>
                    <div class="starLabel">
                        <div class="starFore">
                          <div class="starBackRat" [ngStyle]="{'width': items.rate}">
                             <div class="starcover">
                              <img src="../../assets/imgs/starImageHome.png" style="width:17px; height:17px;max-width:17px"/>
                              <img src="../../assets/imgs/starImageHome.png" style="width:17px; height:17px;max-width:17px"/>
                              <img src="../../assets/imgs/starImageHome.png" style="width:17px; height:17px;max-width:17px"/>
                              <img src="../../assets/imgs/starImageHome.png" style="width:17px; height:17px;max-width:17px"/>
                              <img src="../../assets/imgs/starImageHome.png" style="width:17px; height:17px;max-width:17px"/>
                             </div>
                          </div>
                        </div>
                        <span style="vertical-align:top">({{items.countRate}})</span>
                   </div>
                </ion-card>
            </ion-slide>
        </ion-slides>
        </div>
    <div *ngIf="storesHome==1 && storesHomeSkeleton" style="padding-right:10px;padding-left:10px">
        <div>
            <ion-grid>
            <ion-row>
                <ion-col class="textAlignStart">
                    <div class="catHomeTitleLabel">المتاجر</div>
                </ion-col>
                <ion-col class="textAlignEnd">
                    <div class="catHomeMoreLabel">شاهد المزيد</div>
                </ion-col>
            </ion-row>
            </ion-grid>
        </div>
        <ion-slides #slidesStoresHome [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
            <ion-slide *ngFor="let items of returnStoresHomeArray" class="storesHomeSlides">
                <ion-card class="storesHomeCard">
                   <div>
                        <div><ion-skeleton-text animated class="skeletonlHeaderImage" ></ion-skeleton-text></div>
                        <div><ion-skeleton-text animated class="skeletonlContentImage"></ion-skeleton-text></div>
                        <div class="textHomeLabel"><ion-skeleton-text animated class="skeletonTextHomeLabel"></ion-skeleton-text></div>
                        <div class="textHomeLabel"><ion-skeleton-text animated class="skeletonTextHomeLabel"></ion-skeleton-text></div>
                        <div class="textHomeLabel"><ion-skeleton-text animated class="skeletonTextHomeLabel"></ion-skeleton-text></div>
                    </div>
                    <div class="starLabel">
                        <div class="textHomeLabel"><ion-skeleton-text animated class="skeletonTextHomeLabel"></ion-skeleton-text></div>
                   </div>
                </ion-card>
            </ion-slide>
        </ion-slides>
        </div>    
    <!--spechal-->
     <!--cat-->
    <div *ngIf="categories==1 && !categoriesSkeleton" style="padding-bottom:10px;padding-right:10px;padding-left:10px">
        <div>
            <ion-grid>
            <ion-row>
                <ion-col class="textAlignStart">
                    <div class="catHomeTitleLabel">المتاجر</div>
                </ion-col>
                <ion-col class="textAlignEnd">
                    <div class="catHomeMoreLabel" (click)="functionAllStores()">شاهد المزيد</div>
                </ion-col>
            </ion-row>
            </ion-grid>
        </div>
        <div>
            <ion-grid>
            <ion-row>
                <ion-col class="textAlignStart" size="4" *ngFor="let items of returnCategoriesArray">
                <div class="forestoresHomeSlides" style="padding-top:0px">
                    <ion-card class="foreStoreHomeCard">
                    	 <div (click)="functionStoresByCat(items.id)">
                        <div class="categoriesHomeDiv" style="padding-top:15px"><img src="{{items.image}}" class="categoriesHomeImage"></div>
                        <div style="font-size: 12px;color: var(--ion-color-menueColor);padding-bottom: 5px;text-align:center">{{items.title}}</div>
                    </div>
                	</ion-card>
                </div>
                </ion-col>
            </ion-row>
            </ion-grid>
        </div>
        
        
        
         <!--<ion-slides #slidesCategoriesHomeOne *ngIf="arrayOne.length" [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
            <ion-slide *ngFor="let items of arrayOne" class="categoriesHomeSlides">
                <ion-card class="categoriesHomeCard" (click)="functionStoresByCat(items.id)">
                    <div>
                        <div class="categoriesHomeDiv"><img src="{{items.image}}" class="categoriesHomeImage"></div>
                        <div class="categoriesHomeLabel">{{items.title}}</div>
                    </div>
                </ion-card>
            </ion-slide>
        </ion-slides>
        <ion-slides #slidesCategoriesHomeTow *ngIf="arrayTow.length" [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
            <ion-slide *ngFor="let items of arrayTow" class="categoriesHomeSlides">
                <ion-card class="categoriesHomeCard" (click)="functionStoresByCat(items.id)">
                    <div>
                        <div class="categoriesHomeDiv"><img src="{{items.image}}" class="categoriesHomeImage"></div>
                        <div class="categoriesHomeLabel">{{items.title}}</div>
                    </div>
                </ion-card>
            </ion-slide>
        </ion-slides>-->
     </div>
    <div *ngIf="categories==1 && categoriesSkeleton" style="padding-bottom:10px;padding-right:10px;padding-left:10px">
        <div>
            <ion-grid>
            <ion-row>
                <ion-col class="textAlignStart">
                    <div class="catHomeTitleLabel">المتاجر</div>
                </ion-col>
                <ion-col class="textAlignEnd">
                    <div class="catHomeMoreLabel">شاهد المزيد</div>
                </ion-col>
            </ion-row>
            </ion-grid>
        </div>
         <ion-slides #slidesCategoriesHomeOne [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
            <ion-slide *ngFor="let items of arrayOne" class="categoriesHomeSlides">
                <ion-card class="categoriesHomeCard">
                    <div>
                        <div class="categoriesHomeDiv"><ion-skeleton-text animated class="skeletonCategoriesHome"></ion-skeleton-text></div>
                        <div class="categoriesHomeLabel"><ion-skeleton-text animated class="skeletonCategoriesHomeText"></ion-skeleton-text></div>
                    </div>
                </ion-card>
            </ion-slide>
        </ion-slides>
        <ion-slides #slidesCategoriesHomeTow *ngIf="arrayTow.length" [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
            <ion-slide *ngFor="let items of arrayTow" class="categoriesHomeSlides">
                <ion-card class="categoriesHomeCard">
                    <div>
                        <div class="categoriesHomeDiv"><ion-skeleton-text animated class="skeletonCategoriesHome"></ion-skeleton-text></div>
                        <div class="categoriesHomeLabel"><ion-skeleton-text animated class="skeletonCategoriesHomeText"></ion-skeleton-text></div>
                    </div>
                </ion-card>
            </ion-slide>
        </ion-slides>
     </div>
     <!--cat-->
      <!--offers-->
    <div *ngIf="offersHome==1 && !offersHomeSkeleton" style="padding-bottom:10px">
        <div>
            <ion-grid>
            <ion-row>
                <ion-col class="textAlignStart">
                    <div class="catHomeTitleLabelOffers">العروض اليومية</div>
                </ion-col>
                <ion-col class="textAlignEnd">
                    <div class="catHomeMoreLabelOffers" (click)="functionOffersInformation()">شاهد المزيد</div>
                </ion-col>
            </ion-row>
            </ion-grid>
        </div>
        <ion-slides pager="true" autoPlay="true" loop="true" (ionSlidesDidLoad)="slidesDidLoad()" (ionSlideDidChange)="slidesDidLoad()"  #slidesOffersHome>
            <ion-slide *ngFor="let items of returnOffersHomeArray" >
                <div class="offersHome" *ngIf="items.type==2" (click)="functionOffersInformation(items.id)">
                    <div><ion-img src={{items.image}} class="offersHomeImage"></ion-img> </div>
                    <div class="offersHomeContent">{{items.description}}</div>
                </div>
                <div *ngIf="items.type==1" (click)="functionOffersInformation(items.id)">
                    <div><ion-img src={{items.image}} class="offersHomeImage"></ion-img> </div>
                </div>
            </ion-slide>
        </ion-slides>
    </div>
    <div *ngIf="offersHome==1 && offersHomeSkeleton" style="padding-bottom:10px">
        <div>
            <ion-grid>
            <ion-row>
                <ion-col class="textAlignStart">
                    <div class="catHomeTitleLabelOffers">العروض اليومية</div>
                </ion-col>
                <ion-col class="textAlignEnd">
                    <div class="catHomeMoreLabelOffers">شاهد المزيد</div>
                </ion-col>
            </ion-row>
            </ion-grid>
        </div>
        <div><ion-img src="../../assets/imgs/loader2.gif" class="offersHomeImageSkeleton"></ion-img> </div>
    </div>
    <!--offers-->
     <div *ngIf="storesFore==1 && !storesForeSkeleton" style="padding-right:10px;padding-left:10px">
        <div>
            <ion-grid>
            <ion-row>
                <ion-col class="textAlignStart" size="6" *ngFor="let items of returnStoresForeArray">
                <div class="forestoresHomeSlides" (click)="functionStoreInformation(items.id)">
                    <ion-card class="foreStoreHomeCard">
                    <div *ngIf="items.closeStore==1" style="text-align: center;padding-left: 10%;"><img src="../../assets/imgs/lock.png" class="lockImageLarg"></div>
                     <div>
                        <div class="foreStoreHomeDivImage"><img src="{{items.image}}" class="foreStoreHeaderImage"></div>
                        <div><img src="{{items.storeImage}}"></div>
                        <div class="foreStoretextHomeName">{{items.title}}</div>
                        <div class="foreStoretextHomeLabel">{{items.categorie}}</div>
                        <div class="foreStoretextHomeLabel">{{items.subCategories}}</div>
                    </div>
                       <div class="starLabelFor">
                        <div class="starFore">
                          <div class="starBackRat" [ngStyle]="{'width': items.rate}">
                             <div class="starcover">
                              <img src="../../assets/imgs/starImageHome.png" style="width:17px; height:17px;max-width:17px"/>
                              <img src="../../assets/imgs/starImageHome.png" style="width:17px; height:17px;max-width:17px"/>
                              <img src="../../assets/imgs/starImageHome.png" style="width:17px; height:17px;max-width:17px"/>
                              <img src="../../assets/imgs/starImageHome.png" style="width:17px; height:17px;max-width:17px"/>
                              <img src="../../assets/imgs/starImageHome.png" style="width:17px; height:17px;max-width:17px"/>
                             </div>
                          </div>
                        </div>
                        <span style="vertical-align:top;">({{items.countRate}})</span>
                        </div>
                </ion-card>
                </div>
                </ion-col>
            </ion-row>
            </ion-grid>
        </div>
     </div>
     <div *ngIf="storesFore==1 && storesForeSkeleton" style="padding-right:10px;padding-left:10px">
        <div>
            <ion-grid>
            <ion-row>
                <ion-col class="textAlignStart" size="6" *ngFor="let items of returnStoresForeArray">
                <div class="forestoresHomeSlides">
                    <ion-card class="foreStoreHomeCard">
                    <div>
                        <div><ion-skeleton-text animated class="skeletonlForContentImage"></ion-skeleton-text></div>
                        <div class="textHomeLabel"><ion-skeleton-text animated class="skeletonTextHomeLabel"></ion-skeleton-text></div>
                        <div class="textHomeLabel"><ion-skeleton-text animated class="skeletonTextHomeLabel"></ion-skeleton-text></div>
                        <div class="textHomeLabel"><ion-skeleton-text animated class="skeletonTextHomeLabel"></ion-skeleton-text></div>
                        <div class="textHomeLabel"><ion-skeleton-text animated class="skeletonTextHomeLabel"></ion-skeleton-text></div>
                    </div>
                </ion-card>
                </div>
                </ion-col>
            </ion-row>
            </ion-grid>
        </div>
     </div>
    </div>
 </div>
</ion-content>
<ion-footer class="ion-no-border">
<ion-toolbar class="footerToolbar">
	<div class="width100">
        <div class="menueClass menueClassActive">
        	<div><ion-icon name="home" slot="start"></ion-icon></div>
            <div class="labelClass">الرئيسية</div>
        </div>
       <div class="menueClass" (click)="functionAllStores()">
        	<div><ion-icon name="storefront" slot="start"></ion-icon></div>
            <div class="labelClass">المتاجر</div>
        </div>
        <div class="menueClass" (click)="functionAllProducts()">
        	<div><ion-icon name="storefront" slot="start"></ion-icon></div>
            <div class="labelClass">المنتجات</div>
        </div>
        
        <div class="menueClass" (click)="functionOpenMenue()">
        	<div><ion-icon name="list" slot="start"></ion-icon></div>
            <div class="labelClass">قائمتي</div>
        </div>
    </div>
</ion-toolbar>
</ion-footer>
