ion-content{
	direction:rtl;
	 --background: transparent;
	 --overflow:hidden;
}
ion-icon {
  font-size: 30px;
  color:#ffffff
}
.divTitle{
	text-align:center;
	padding-bottom:15px;
	padding-top:15px;
	font-size:19px;
	font-weight:bold;
	color: var(--ion-color-header);
}
.class962{
	color:var(--ion-color-formPlaseHolderColor);
	direction:ltr;
}
/*form*/
ion-item{
   --ion-background-color:var(--ion-color-inputFormColor);
   --inner-padding-start:0px;
   border-radius:30px;
   --padding-bottom:3px;
}
.errorFiled{
	 border:1px solid red;
}
.succsessFiled{
	 border:1px solid green;
}
ion-input{
	--placeholder-color:var(--ion-color-wight);
	--placeholder-opacity:1;
	color:var(--ion-color-wight);
}
ion-textarea{
	--placeholder-color:var(--ion-color-formPlaseHolderColor);
	--placeholder-opacity:1;
	color:var(--ion-color-formPlaseHolderColor);
}
.oneButton{
	--background: linear-gradient(-90deg, #f3df02, #f0c000) !important;
	--color:var(--ion-color-primary-contrast) !important;
	--border-radius: 30px;
	--padding:0px;
	height:50px;
	min-width:140px;
	width:30%;
}
.oneButton.activated{
	--background:var(--ion-color-header);
	padding:0px;
}
.divButtonClass{
	text-align:center;
	padding-top:10px;
	padding-bottom:15px;
}
/*pageContent*/
ion-content{
	--background: var(--ion-color-header);
	--padding-end:10px;
	--padding-start:10px;
	--padding-bottom:10px
}
.contentDiv{
	width:100%;
	background-color:#000000;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	padding-right:10px;
	padding-left:10px;
	height:100%;
	overflow:hidden;
}
.subContentDiv{
	width:100%;
	height:100%;
	overflow-y:auto
}
.loadingData{
	text-align:center;
	font-size:13px;
	--ion-background-color:var(--ion-color-wight);
	color: var(--ion-color-header);
	padding-bottom:10px;
}
.imageLoading{
	width:40px;
	height:40px;
	vertical-align:middle;
}
#map_canvas {
  width: 90%;
  height: 80%;
  border: 1px solid red;
}
#address {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}
#map {
  width: 100%;
  height: 250px;
}
.map-wrapper {
  position: relative;
  #map_center {
    position: absolute;
    z-index: 99;
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    margin-left: -21px;
    margin-top: -41px;
  }
}
.locationInformation{
	font-size: 15px;
    color: var(--ion-color-searchButton);
    font-weight: bold;
    padding-right: 5px;
	padding-top:10px
}