ion-content{
	direction:rtl;
	 --background: transparent;
	 --overflow:hidden;
}
ion-icon {
  font-size: 30px;
  color:#ffffff
}
.divTitle{
	text-align:center;
	padding-bottom:15px;
	padding-top:15px;
	font-size:19px;
	font-weight:bold;
	color: var(--ion-color-header);
}
.class962{
	color:var(--ion-color-formPlaseHolderColor);
	direction:ltr;
}
/*form*/
ion-item{
   --ion-background-color:var(--ion-color-inputFormColor);
   --inner-padding-start:0px;
   border-radius:30px;
   --padding-bottom:3px;
       direction: rtl !important;
}
.errorFiled{
	 border:1px solid red;
}
.succsessFiled{
	 border:1px solid green;
}
ion-input{
	--placeholder-color:var(--ion-color-wight);
	--placeholder-opacity:1;
	color:var(--ion-color-wight);
}
ion-textarea{
	--placeholder-color:var(--ion-color-formPlaseHolderColor);
	--placeholder-opacity:1;
	color:var(--ion-color-formPlaseHolderColor);
}
.oneButton{
	--background: linear-gradient(-90deg, #f3df02, #f0c000) !important;
	--color:var(--ion-color-primary-contrast) !important;
	--border-radius: 30px;
	--padding:0px;
	height:50px;
	min-width:140px;
	width:30%;
}
.oneButton.activated{
	--background:var(--ion-color-header);
	padding:0px;
}
.divButtonClass{
	text-align:center;
	padding-top:10px;
	padding-bottom:15px;
}
/*pageContent*/
ion-content{
	--background: var(--ion-color-header);
	--padding-end:10px;
	--padding-start:10px;
	--padding-bottom:10px
}
.contentDiv{
	width:100%;
	background-color:#000000;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	padding-right:10px;
	padding-left:10px;
	height:100%;
	overflow:hidden;
}
.subContentDiv{
	width:100%;
	height:100%;
	overflow-y:auto
}
.titleText{
	padding-right: 20px;
    color: var(--ion-color-formPlaseHolderColor);
    font-size: 15px;
}
ion-datetime{
	color:var(--ion-color-formPlaseHolderColor) !important;
}
ion-select {
	--placeholder-color:var(--ion-color-formPlaseHolderColor);
	--placeholder-opacity:1;
	color:var(--ion-color-formPlaseHolderColor);
	width:100%
}