.headerToolbar{
--background: var(--ion-color-header);
--border-width:0px;
--padding-top:0px;
--padding-bottom:3px;
--padding-start:0px;
--padding-end:0px;
}
ion-content{
--background: #ffffff;
}
ion-item{
   --ion-background-color:var(--ion-color-header);
   --inner-padding-start:0px;
}
ion-button{
	--background:var(--ion-color-searchButton);
	--color:var(--ion-color-wight);
   --border-radius: 25px;
	height: 40px;
    width: 60px;
    margin-top: 4px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 2px;
}
ion-button:hover{
	--background:var(--ion-color-searchButton);
	--color:var(--ion-color-wight);
    --border-radius: 25px;
    height: 40px;
    width: 60px;
    margin-top: 4px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 2px;
}
.button{border-radius:30px}
.ios ion-title {
   position: inherit;
   width:100%
}
ion-input{
	--background:var(--ion-color-search);
	border-radius:20px;
	padding-right:10px !important;
	color:#FFFFFF;
	--placeholder-color:var(--ion-color-wight);
	--placeholder-opacity:1;
}
.gridDepartInformation{
	background-color: var(--ion-color-footer);
    padding-bottom: 8px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.textDepartInformation{
	font-size:13px;
	color:var(--ion-color-searchButton);
	padding:0px;
	font-weight:bold;
	padding-right:5px
}
.textFilterInformation{
	font-size:13px;
	color:#aba9aa;
	padding:0px;
	padding-right:10px
}
.buttonFilterBorder{
	position:fixed;
	top:97px;
	border-right:2px solid #aba9aa;
	margin:auto;
	height:37px; 
	border-width: thin;
}
.filterIcon{
	font-size:29px;
	color:#aba9aa;
	padding-left: 5px;
}
.filterIconNew{
	font-size:28px;
	color:#aba9aa;
	padding-right:20%;
	padding-left: 2px;
}
.filterIconNewLight{
	font-size:28px;
	color:var(--ion-color-searchButton);
	padding-right:20%;
	padding-left: 2px;
}
.filterIconShowData{
	font-size:28px;
	color:#aba9aa;
	padding-left: 2px;
	padding-right:5px;
}
.filterIconShowDataLight{
	font-size:28px;
	color:var(--ion-color-searchButton);
	padding-left: 2px;
	padding-right:5px;
}
.filterNotLight{
	color:#aba9aa;
	vertical-align:top
}
.filterLight{
	color:var(--ion-color-searchButton);
	vertical-align:top
}
.contentDiv{
	width:100%;
	height:100%;
	background-color:#000000;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
}
.subContentDiv{
	width:100%;
	height:100%;
	overflow-y:auto
}
.catSlides{
	width:140px;
	height:140px;
	margin-left:2px;
	margin-right:2px
}
.catCard{
	width:130px;
	height:130px;
	margin: 0px;
	border-radius:10px;
	box-shadow:rgb(0 0 0 / 10%) 0px 3px 30px -2px, rgb(0 0 0 / 0%) 0px 2px 2px 0px, rgb(0 0 0 / 30%) 0px 1px 5px 0px;
	border-radius: 10px;
}
.catDiv{
	padding-top: 25px;
	text-align:center;
	width:100%;
}
.catImage{
	width:60px;
	height:60px; 
	margin:auto
}
.catLabel{
	padding-top:0px;
	font-size:13px;
	color:var(--ion-color-menueColor);
}
.catLabelCheck{
	padding-top: 0px;
    font-size: 13px;
    color: #aba9aa;
}
.skeletonTextLabel{
	width:75%;
	margin-right:15px;
}
.textSlider{
	padding-right: 22px;
    padding-bottom: 9px;
	padding-left: 22px;
	padding-top: 4px;
    border: 2px solid;
    border-radius: 20px;
    font-size: 14px;
    color: #51638c;
}
.textSliderChecked{
	padding-right: 22px;
    padding-bottom: 9px;
	padding-left: 22px;
	padding-top: 4px;
    border: 2px solid;
    border-radius: 20px;
    font-size: 14px;
    color: #aba9aa;
}
.textSkeletonSlider{
	height:25px;
	width: 80px;
	border-radius:10px
}
.slidesData{
	width:auto;
	height:auto;
	margin-left:5px;
	margin-right:5px
}
.firstDivFilter{
	background-color: var(--ion-color-header);
}
/*page content*/
.storesBox{
	border: 1px solid;
	color: #dfdee2;
	margin-right: 5px;
	margin-left: 5px;
	border-radius: 5px;
	height:auto;
	min-height: 140px;
}
.storesSubBox{
	min-height: 120px;
    height: auto;
}
.storesImageDiv{
	float:right;
	padding-left:12px;
}
.storesImageDivTow{
	padding-left:12px;
}
.storesImage{
	border-radius:15px;
	margin-right:12px;
	width:120px;
	height:120px;
	margin-top:7px;
}
.storesImageTow{
	border-radius:15px;
	margin-right:12px;
	width:75%;
	height:75%;
	margin-top:7px;
}
.storesName{
	font-size: 16px;
    color: var(--ion-color-searchButton);
    font-weight: bold;
    padding-right: 5px;
	padding-top:5px
}
.storesNameTow{
	font-size: 16px;
    color: var(--ion-color-searchButton);
    font-weight: bold;
}
.storesNameTowGride{
	padding-top:5px
}
.storesCatLabel{
	 font-size: 14px;
    padding-top: 3px;
    color: #818181;
    text-align: right;
    padding-right: 13px;
    height: 23px;
}
.storesCatLabelTow{
	font-size:14px;
	padding-top:5px;
	color:#818181;
    padding-right: 13px;
	height: 25px;
}
.storesCatLabelNewTow{
	font-size:10px;
	padding-top:5px;
	color:#818181;
    padding-right: 13px;
	height: 25px;
	font-weight:bold
}
.storesSubCatLabel{
	 font-size: 14px;
    padding-top: 3px;
    color: #818181;
    text-align: right;
    padding-right: 5px;
    height: 23px;
}
.storesSubCatLabelTow{
	font-size:14px;
	padding-top:5px;
	color:#818181;
    padding-right: 5px;
	height: 25px;
}
.storesSubGridVal{
	font-size: 10px;
    color: #818181;
    height: 20px;
	font-weight:bold;
}
.storesGridVal{
	font-size: 14px;
    color: #818181;
    text-align: right;
    height: 50px;
    padding-top: 3px;
}
.infinite-loading-text{
	font-size:14px !important;
}
.largDiveSortAndFilter{
   position: sticky;
   top: 0;
   background-color: #f3df02;
   z-index: 10000;
}
/*starRate*/
.star{
	position:relative;
	float:right;
	width:25px;
	height:17px;
	margin-right:30px;
	margin-left: 35px;
}
.starFore{
	position:relative;
	width:90px;
	height:17px;
	text-align: center;
    display: inline-block;
}
.starcover{
	display:flex;
	float:right
}
.starBackRat{
	background:#FFA500; 
	height:17px;
	direction:ltr; 
	position:absolute; 
	right:0px
}
.starLabel{
    font-size: 12px;
    margin-top: 4px;
    color: var(--ion-color-searchButton);
}
/*starRate*/
.gridStoresInformation{
	padding:0px;
}
.storesSkeletonName{
	width: 40%;
    height: 15px;
    margin-right: 170px;
}
.storesSkeletonNameTow{
	width: 90%;
    height: 15px;
    margin-right:5%
}
.storesSkeletonGrid{
	width: 100%;
    height: 15px;
}
.storesLargSkeletonName{
	width: 40%;
    height: 23px;
    margin-right: 170px;
}
.storesLargSkeletonNameTow{
	width: 90%;
    height: 23px;
	margin-right:5%
}
.hardFavIcon{
    font-size:15px !important;
    padding: 6px;
    background-color: #51638c;
    border-radius: 100%;
	color:#ffffff;
}
.hardNotFavIcon{
    font-size:15px !important;
    padding: 6px;
    background-color: #aba9aa;
    border-radius: 100%;
	margin-left:5px;
	color:#ffffff;
}
.hardLikeIcon{
	font-size:15px !important;
    padding: 6px;
    background-color: #aba9aa;
    border-radius: 100%;
	margin-left:1px;
	color:#ffffff;
}
.hardNotLikeIcon{
    font-size:15px !important;
    padding: 6px;
    background-color: #51638c;
    border-radius: 100%;
	margin-left:1px;
	color:#ffffff;
}

.timeAndMony{
    font-size:20px !important;
	color:#51638c;
}

.locationIcon{
    font-size:15px !important;
    padding: 6px;
    background-color: #aba9aa;
    border-radius: 100%;
	margin-left:5px;
	color:#ffffff;
}
.callIcon{
    font-size:15px !important;
    padding: 6px;
    background-color: #aba9aa;
    border-radius: 100%;
	margin-left:5px;
	color:#ffffff;
}
.hartIcon{
	font-size:22px !important;
	color:#51638c;
}
.countOfFlowers{
    vertical-align: top;
    font-size: 13px;
	color:#51638c;
}
/*page content*/
.divEmptyVal{
    text-align: center;
    padding-top: 60px;
}
.emptyFirstText{
    font-size: 14px;
    color:var(--ion-color-searchButton);
    padding-bottom: 5px;
}
.emptyLastText{
    font-size: 16px;
    color:var(--ion-color-searchButton);
}
/*menu style*/
ion-icon {
  font-size: 20px;
}
ion-footer{
	background: var(--ion-background-color);
}
.footerToolbar{
--background: var(--ion-color-footer);
--border-width:0px;
--padding-top:7px;
--padding-bottom:0px;
--padding-start:0px;
--padding-end:0px;
 border-top-left-radius:25px; 
 border-top-right-radius:25px
}
.menueClass{
	color:var(--ion-color-menueColor);
	width:25%;
	float:right;
	text-align:center;
	padding-bottom:5px;
	cursor:pointer;
}
.menueClassData{
	text-align:center;
	padding-bottom:5px;
	cursor:pointer;
	border:1px solid #dfdee2;
}
.menueClassActive{
	border-bottom:3px solid
}
.labelClass{
	margin-top:-5px;
	font-size:13px !important;
	padding-bottom:3px;
}
.colorClassGreen{
	color:blue;
	font-size:13px;
}
.colorClassRed{
	color:red;
	font-size:13px;
}

/*menu style*/
.divButtonClass{
	padding-top:10px;
	padding-bottom:15px;
	width: 300px;
}
.ragionButton{
	 padding-right: 23px;
    padding-bottom: 16px;
    padding-left: 22px;
    padding-top: 10px;
    border-radius: 30px;
    font-size: 16px;
    color: #ffffff;
    background: #818181;
    width: max-content;
	margin-right:15px;
	margin-left:10px
}

.filterButton{
	padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-top: 10px;
    border-radius: 30px;
    font-size: 16px;
    color: #ffffff;
    background: var(--ion-color-searchButton);
    width: 100px;
    text-align: center;
}

.lockImage{
	position:absolute;
	left:0px;
	z-index:100;
	width:30px;
	top: 70px;
    right: 80px;
}
.lockImageLarg{
	position: absolute;
    width: 12%;
    padding-top: 25%;
}
