<ion-header class="ion-no-border">
  <ion-toolbar class="headerToolbar">
    <ion-title><img src="../../assets/imgs/def4.png" style="width:40px;border-radius:50px"></ion-title>
       <ion-item lines="none">
    <ion-input placeholder="بحث" (ionFocus)="openSearchPage()"></ion-input>
    <ion-button class="button" (click)="openSearchPage()">
    <ion-icon name="search" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>
  </ion-toolbar>
  <div class="largDiveSortAndFilter">
    <ion-grid class="gridDepartInformation">
        <ion-row>
            <ion-col class="textAlignStart textDepartInformation" style="direction:rtl" size="5">
                <span class="verticalAlignTop" style="padding-top:3px">المنتجات : {{countOfAllValues}}</span>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
</ion-header>
<ion-content>
   <div style="padding-right:3px; padding-left:3px; padding-bottom:10px">
    <div style="padding-top:3px">
        <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
        	 <ion-slide #slidesCatHome class="slidesData">
               <div class="textSlider" (click)="functionSelectProduct(0)">الكل</div>
            </ion-slide>
            <ion-slide #slidesCatHome *ngFor="let items of returnRegionsArray;let i = index"  class="slidesData">
               <div class="textSlider" (click)="functionSelectProduct(items.id)">{{items.title}}</div>
            </ion-slide>
        </ion-slides>
    </div>
        <div *ngIf="stores!=0" style="margin-top:10px">
            <div *ngIf="stores!=0">
             <div>
              	<ion-grid style="padding:0px;">
                    <ion-row style="border:1px solid #dfdee2">
                        <ion-col class="menueClassData" size="3">
                           <div style="font-size:13px">المنتج</div>
                        </ion-col>
                        <ion-col class="menueClassData" size="3">
                        	<div  style="font-size:13px">المتجر</div>
                        </ion-col>
                        <ion-col class="menueClassData" size="3">
                        	<div  style="font-size:13px">السعر</div>
                        </ion-col>
                        <ion-col class="menueClassData" size="3">
                        	<div  style="font-size:13px">الوقت</div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                </div>
                <div *ngFor="let items of returnAllProductsArray;let i = index">
                <ion-grid  style="padding:0px;">
                    <ion-row>
                        <ion-col class="menueClassData" size="3" (click)="functionStoreInformation(items.id)">
                           <div class="{{items.class}}">{{items.title}}</div>
                        </ion-col>
                        <ion-col class="menueClassData" size="3" (click)="functionStoreInformation(items.id)">
                        	<div  class="{{items.class}}">{{items.storesName}}</div>
                        </ion-col>
                        <ion-col class="menueClassData" size="3" (click)="functionStoreInformation(items.id)">
                        	<div  class="{{items.class}}">{{items.price}} د.أ</div>
                        </ion-col>
                        <ion-col class="menueClassData" size="3" (click)="functionStoreInformation(items.id)">
                        	<div  class="{{items.class}}">{{items.date}}</div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
             </div>
            </div>
        </div>
         <div *ngIf="stores==0" class="divEmptyVal">
        	<div>
                <img src="../../assets/imgs/noStores.png" style="width:150px; height:150px">
            </div>
            <div class="emptyFirstText">
                عذرا! لا يوجد منتجات حاليا
            </div>
            <div class="emptyLastText">
                لم يتم إضافة اي بيانات على هذه الشاشة حاليا
            </div>
        </div>
   </div>
</ion-content>
<ion-footer class="ion-no-border">
<ion-toolbar class="footerToolbar">
	<div class="width100">
        <div class="menueClass" (click)="functionGoToHome()">
        	<div><ion-icon name="home" slot="start"></ion-icon></div>
            <div class="labelClass">الرئيسية</div>
        </div>
           <div class="menueClass" (click)="functionGoToStores()">
        	<div><ion-icon name="storefront" slot="start"></ion-icon></div>
            <div class="labelClass">المتاجر</div>
        </div>
         <div class="menueClass" (click)="functionAllProducts()">
        	<div><ion-icon name="storefront" slot="start"></ion-icon></div>
            <div class="labelClass">المنتجات</div>
        </div>
        
        <div class="menueClass" (click)="functionOpenMenue()">
        	<div><ion-icon name="list" slot="start"></ion-icon></div>
            <div class="labelClass">قائمتي</div>
        </div>
    </div>
</ion-toolbar>
</ion-footer>
