<ion-header class="ion-no-border">
  <ion-toolbar class="headerToolbar">
     <ion-title>
    	<ion-grid style="padding:0px">
            <ion-row>
                <ion-col class="textAlignStart padding0" size="6">
                    <ion-img src="../../assets/imgs/logoTitle.png" class="width50"></ion-img>
                </ion-col>
                <ion-col class="textAlignEnd padding0" size="6" (click)="backToStores()">
                  <ion-img src="../../assets/imgs/back.png" class="width35" style="float:left"></ion-img>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-title>
     <ion-item lines="none">
    <ion-input placeholder="بحث" (ionFocus)="openSearchPage()"></ion-input>
    <ion-button class="button" (click)="openSearchPage()">
    <ion-icon name="search" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>
  </ion-toolbar>
  <div class="largDiveSortAndFilter">
    <ion-grid class="gridDepartInformation">
        <ion-row>
            <ion-col class="textAlignStart textDepartInformation" style="direction:rtl" size="6">
                <ion-icon name="swap-vertical-outline" class="filterIcon" (click)="functionSortAndFilter('alloffers',1,lastAllOfferSortSelect)"></ion-icon>
                <span class="verticalAlignTop">العروض : {{countOfAllValues}}</span>
            </ion-col>
            <ion-col class="textAlignCenter textFilterInformation" size="6" *ngIf="categories == 1"><span class="buttonFilterBorder"></span><ion-icon name="funnel-outline" class="{{lightFilter}}" (click)="functionShowFilterInfo(selectedTypaOfOperationFilter)"></ion-icon><span class="{{filterLight}}" (click)="functionShowFilterInfo(selectedTypaOfOperationFilter)">فلترة</span></ion-col>
        </ion-row>
    </ion-grid>
</div>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refrechAllPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
   <div style="padding-right:3px; padding-left:3px">
 	<div class="showAllDivCat" #showAllDivCat>
        	<div class="showDivCat" #showDivCat>
            	 <div style="padding:10px">
                    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
                        <ion-slide #slidesCatHome *ngFor="let items of returnCategoriesArray;let i = index" class="catSlides">
                            <ion-card class="catCard" (click)="functionGetSubCatAndSelectCat(items.id,i,items.operation)">
                                <div *ngIf="!categoriesSkeleton">
                                    <div class="catDiv"><img src="{{items.image}}" class="catImage"></div>
                                    <div class="{{items.checked}}">{{items.title}}</div>
                                </div>
                                <div *ngIf="categoriesSkeleton">
                                    <div class="catDiv"><ion-skeleton-text animated class="catImage"></ion-skeleton-text></div>
                                    <div class="catLabel"><ion-skeleton-text animated class="skeletonTextLabel textAlignCenter"></ion-skeleton-text></div>
                                </div>
                            </ion-card>
                        </ion-slide>
                    </ion-slides>
                </div>
                 <div class="padding5" *ngIf="categories == 1">
                    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
                        <ion-slide #slidesCatHome *ngFor="let items of returnSubCategoriesArray;let i = index"  class="slidesData">
                           <div *ngIf="!subCategoriesSkeleton"class="{{items.checked}}" (click)="functionSelectSubCat(items.id,i,items.operation)">{{items.title}}</div>
                           <div *ngIf="subCategoriesSkeleton"><ion-skeleton-text animated class="textSkeletonSlider"></ion-skeleton-text></div>
                        </ion-slide>
                    </ion-slides>
                </div>
            </div>
    	</div>
    	<div *ngIf="offers!=0">
            <div *ngIf="!offersSkeleton">
                <div class="padding5" *ngFor="let items of returnAllOffersArray">
                 <div class="offersDiv" *ngIf="items.type == 2" (click)="functionOffersInformation(items.id)">
                    <div><img src="{{items.image}}"class="offersImage"></div>
                    <div class="offersContent">{{items.description}}</div>
                </div>
                <div *ngIf="items.type==1" (click)="functionOffersInformation(items.id)">
                    <div><img src="{{items.image}}"class="offersImage"></div>
                </div>
                <div>
                    <ion-grid class="gridInformation">
                        <ion-row>
                            <ion-col class="textAlignStart textNameInformation" size="6">{{items.title}}</ion-col>
                            <ion-col class="textAlignEnd textInformation" size="6" style="direction:rtl"><span class="offerTime">باقي للعرض {{items.duration}} ايام</span></ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
                </div>
            </div>
            <div *ngIf="offersSkeleton">
                <div class="padding5" *ngFor="let items of returnAllOffersArray">
                    <div><img src="../../assets/imgs/def3.png"></div>
                    <div>
                     <ion-grid class="gridInformation">
                        <ion-row>
                            <ion-col class="textAlignStart textNameInformation" size="6"><ion-skeleton-text animated style="height:15px;width: 80px;"></ion-skeleton-text></ion-col>
                            <ion-col class="textAlignEnd textInformation" size="6"><ion-skeleton-text animated class="offerSkeletonTime"></ion-skeleton-text></ion-col>
                        </ion-row>
                    </ion-grid>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="offers==0" class="divEmptyVal">
        	<div>
                <img src="../../assets/imgs/noOffer.png" style="width:150px; height:150px">
            </div>
            <div class="emptyFirstText">
                يوجد مشكلة في عرض البيانات
            </div>
            <div class="emptyLastText">
                لم يتم إضافة اي بيانات على هذه الشاشة حاليا
            </div>
        </div>
   </div>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
        <ion-infinite-scroll-content loadingSpinner="lines" loadingText="يتم سحب البيانات....">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
<ion-footer class="ion-no-border">
<ion-toolbar class="footerToolbar">
	<div class="width100">
        <div class="menueClass" (click)="functionGoToHome()">
        	<div><ion-icon name="home" slot="start"></ion-icon></div>
            <div class="labelClass">الرئيسية</div>
        </div>
           <div class="menueClass" (click)="functionGoToStores()">
        	<div><ion-icon name="storefront" slot="start"></ion-icon></div>
            <div class="labelClass">المتاجر</div>
        </div>
         <div class="menueClass" (click)="functionAllProducts()">
        	<div><ion-icon name="storefront" slot="start"></ion-icon></div>
            <div class="labelClass">المنتجات</div>
        </div>
        
        <div class="menueClass" (click)="functionOpenMenue()">
        	<div><ion-icon name="list" slot="start"></ion-icon></div>
            <div class="labelClass">قائمتي</div>
        </div>
    </div>
</ion-toolbar>
</ion-footer>
